/* Fonts */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'), local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey-medium: #dcdcdc;
  --basic-grey-half: #7e7e7e;
  --basic-grey: rgba(255, 255, 255, 0.7);
  --basic-grey-extra: #e5e5e5;
  --basic-grey-light: #ebebeb;
  --basic-white-darker: #eeeeee;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow: #ffc600;
  --special-yellow-light: #f7e296;
}

/* Global */
body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}
.page a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page .button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Vissually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main header */

.main-header {
  margin-top: 40px;
}

/* Main navigation */

.main-navigation {
  background-color: var(--special-yellow-light);
  padding: 40px 60px;
}

.user-navigation-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.user-navigation {
  justify-self: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation-item a {
  color: var(--basic-black);
}

.user-navigation-item a:hover {
  opacity: 0.7;
}

.user-navigation-item a:focus {
  opacity: 0.5;
  outline: none;
}

.site-navigation,
.site-navigation .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
  outline: none;
}

.site-navigation a:active {
  opacity: 0.3;
}

.sub-menu {
  display: none;
}

/* .page-content-header {
  padding: 44px 0 50px 60px;
} */

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
  outline: none;
}

/* Sidebar */

.sidebar-title-wrap {
  background-color: var(--basic-grey-medium);
  padding: 20px 0 20px 60px;
}
.sidebar-title-wrap span {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.sidebar-form {
  background-color: var(--basic-grey-extra);
  height: 100%;
}

.sidebar-form input {
  margin-left: 60px;
}

/* Filter card wrapper */

/* .inner-page .page-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
} */

.inner-page .page-content {
  display: grid;
  grid-template-columns: 328px 1fr;
  align-content: start;
}

.inner-page .page-content-title {
	grid-column: 1 / -1;
}

.inner-page .breadcrumbs {
	grid-column: 1 / -1;
}

/* Product-sorting */

/* Catalog */

.catalog {
  padding-bottom: 78px;
}

.goods-sorting {
  background-color: var(--basic-grey-extra);
  padding: 20px 0;
}

.goods-sorting span {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.goods-sorting ul {
  list-style: none;
}

.goods-sorting-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.goods-sorting-list a:hover {
  opacity: 0.6;
}

.goods-sorting-list a:focus {
  opacity: 1;
  outline: none;
}

.goods-sorting-item.active a {
  opacity: 1;
}

.goods-sorting-arrow a {
  color: var(--basic-black);
  opacity: 0.2;
}

.goods-sorting-arrow a:hover {
  opacity: 0.4;
}

.goods-sorting-arrow a:focus {
  opacity: 1;
  outline: none;
}

/* Product cards */

.goods-cards-wrapper {
  margin-left: 40px;
  margin-top: 40px;
}

.goods-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-card-title a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.goods-card-image {
  margin: 0;
}

.goods-card img {
  width: 100%;
}

.goods-card-new {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.3;
  display: none;
}

.basket-button {
  display: none;
}

.basket-button:focus {
  opacity: 0.3;
  outline: none;
}

.goods-card-add-favorites {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
  display: none;
}

.goods-card-add-favorites:hover {
  opacity: 1;
}

.goods-card-add-favorites:focus {
  opacity: 0.2;
  outline: none;
}

.goods-card-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination-wrapper {
  margin-left: 40px;
}

.pagination-list {
  background-color: var(--basic-grey-light);
  margin: 0;
  padding: 20px 20px;
  list-style: none;
}

.pagination-number {
  list-style: none;
}

.pagination-number a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-number a:hover {
  opacity: 0.6;
}

.pagination-number a:focus {
  opacity: 1;
  outline: none;
}

/* Page content */

.page-content-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.page-content th {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.page-content td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.page-content-description {
  margin: 0;
}

.promo-product-button:active {
  opacity: 0.3;
}

.promo-product-item {
  display: none;
}

.promo-product-item.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.promo-product-item img {
  justify-self: center;
}

/* Category */

.category {
  padding-top: 76px;
  padding-bottom: 46px;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-list-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.category-list-item a:active {
  opacity: 0.3;
}

/* Features */

.features {
  padding-bottom: 129px;
  background-color: var(--basic-grey-extra);
}

.features-bar {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.features h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.features p {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 0;
}

.features-controls-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-slides-display {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-slides-display-item {
  display: none;
}

.features-slides-display-item.active {
  display: block;
}

/* Partners */

.partners {
  padding: 90px 0;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Index column */

.index-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-bottom: 86px;
  padding-top: 50px;
}

.index-column ul {
  list-style: none;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.index-column h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding-bottom: 50px;
}

.index-column p {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
}

.index-button:active {
  opacity: 0.3;
}

/* Footer */

.page-footer {
  padding: 46px 0 65px;
  background-color: var(--basic-dark);
}

.footer-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-user-navigation {
  text-align: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-center-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-navigation {
  justify-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation a:hover {
  opacity: 0.6;
}

.footer-navigation a:focus {
  opacity: 0.3;
  outline: none;
}

.button.footer-button {
  color: var(--basic-white);
}

.footer-social {
  text-align: center;
  margin: 0;
  padding: 67px 0 0 0;
  list-style: none;
}

.footer-user-navigation a {
  color: var(--basic-grey);
}
.footer-user-navigation a:hover {
  color: var(--basic-white);
}

.footer-user-navigation a:focus {
  opacity: 0.3;
  outline: none;
}

.footer-address {
  font-style: normal;
  color: var(--basic-white);
}

.footer-phone {
  color: var(--basic-white);
  justify-self: end;
}

.social-button {
  color: var(--basic-white);
}
