/* Fonts */

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'), local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'), local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
  font-display: swap;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px) translate(-50%,-50%);
        transform: translateY(-2000px) translate(-50%,-50%)
    }

    70% {
        -webkit-transform: translateY(30px) translate(-50%,-50%);
        transform: translateY(30px) translate(-50%,-50%)
    }

    90% {
        -webkit-transform: translateY(-10px) translate(-50%,-50%);
        transform: translateY(-10px) translate(-50%,-50%)
    }

    to {
        -webkit-transform: translateY(0) translate(-50%,-50%);
        transform: translateY(0) translate(-50%,-50%)
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px) translate(-50%,-50%);
        transform: translateY(-2000px) translate(-50%,-50%)
    }

    70% {
        -webkit-transform: translateY(30px) translate(-50%,-50%);
        transform: translateY(30px) translate(-50%,-50%)
    }

    90% {
        -webkit-transform: translateY(-10px) translate(-50%,-50%);
        transform: translateY(-10px) translate(-50%,-50%)
    }

    to {
        -webkit-transform: translateY(0) translate(-50%,-50%);
        transform: translateY(0) translate(-50%,-50%)
    }
}

@-webkit-keyframes shake {
    0%,to {
        -webkit-transform: translate(-50%,-50%) translateX(0);
        transform: translate(-50%,-50%) translateX(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate(-50%,-50%) translateX(-10px);
        transform: translate(-50%,-50%) translateX(-10px)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate(-50%,-50%) translateX(10px);
        transform: translate(-50%,-50%) translateX(10px)
    }
}

@keyframes shake {
    0%,to {
        -webkit-transform: translate(-50%,-50%) translateX(0);
        transform: translate(-50%,-50%) translateX(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate(-50%,-50%) translateX(-10px);
        transform: translate(-50%,-50%) translateX(-10px)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate(-50%,-50%) translateX(10px);
        transform: translate(-50%,-50%) translateX(10px)
    }
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-opacity-lighten: rgba(0, 0, 0, 0.2);
  --basic-black-opacity-light: rgba(255, 255, 255, 0.3);
  --basic-black-opacity-normal: rgba(255, 255, 255, 0.6);
  --basic-dark: #363636;
  --basic-grey-medium: #dcdcdc;
  --basic-grey-half: #7e7e7e;
  --basic-grey-range: #c4c4c4;
  --basic-grey-extra: #e5e5e5;
  --basic-grey-light: #ebebeb;
  --basic-white-darker: #eeeeee;
  --basic-white: #ffffff;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #ffc600;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
  --special-pop-up-input: #f2f2f2;
  --special-pop-up-input-hover: #eaeaea;
  --special-invalid: #f6dada;
}

/* Global */

.inner-page {
  overflow-x: hidden;
}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}
.page a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  position: relative;
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Vissually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main header */

.main-header {
  margin-top: 39px;
}

.main-header-logo {
  position: absolute;
  top: -19px;
  left: 63px;
  cursor: pointer;
}

.main-header-logo:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
}

.main-header-logo:active,
.main-header-logo:focus {
  outline: none;
  opacity: 0.3;
}

/* Main navigation */

.main-navigation {
  position: relative;
  background-color: var(--special-yellow-light);
  padding: 5px 30px 164px 30px;
}

.inner-page .main-navigation {
  padding-bottom: 50px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation-item-search {
  width: 540px;
}

.main-nav-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.main-nav-search-label {
  position: absolute;
  top: 43px;
  width: 20px;
  height: 20px;
  background-image: url(../img/img/icon_search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  left: 32px;
}

.main-nav-search-label::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  display: none;
  width: 385px;
  height: 2px;
  background-color: var(--basic-black);
}

.main-nav-search-input {
  position: relative;
  width: 280px;
  height: 30px;
  margin-left: 2px;
  padding: 0 0 0 38px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: var(--basic-black);
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.main-nav-search-input::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav-search-input:-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav-search-input::-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav-search-input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-nav-search-input:hover::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 0.6;
}

.main-nav-search-input:hover:-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 0.6;
}

.main-nav-search-input:hover::-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 0.6;
}

.main-nav-search-input:hover::placeholder {
  color: var(--basic-black);
  opacity: 0.6;
}

.main-nav-search-input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.main-nav-search-input:focus:-ms-input-placeholder {
  font-size: 0;
}

.main-nav-search-input:focus::-ms-input-placeholder {
  font-size: 0;
}

.main-nav-search-input:focus::placeholder {
  font-size: 0;
}

.main-nav-search-input:focus ~ .main-nav-search-label::before {
  display: block;
}

.main-nav-search-input:focus ~ .main-nav-search-btn {
  z-index: 0;
  opacity: 1;
}

.main-nav-search-btn {
  position: absolute;
  top: 26px;
  left: 332px;
  z-index: -1;
  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background: 0 0;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  cursor: pointer;
  opacity: 0;
}

.main-nav-search-btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
  transition: all 0.1s linear;
}

.main-nav-search-btn:focus {
  z-index: 0;
  color: var(--basic-white);
  background-color: var(--basic-black);
  outline: none;
  opacity: 1;
  transition: all 0.1s linear;
}

.main-nav-search-btn:active {
  color: var(--basic-black-opacity-light);
}

.main-nav-search-btn:focus ~ .main-nav-search-label::before {
  display: block;
}

.user-navigation a {
  position: relative;
}

.user-navigation-item.user-sign {
  display: flex;
  margin-right: 185px;
}

.inner-page .user-sign {
  margin-right: 61px;
}

.user-navigation-item-search {
  width: 572px;
}

.user-navigation-item:last-child {
  margin-left: auto;
}

.user-navigation-item form {
  padding: 35px 30px 30px 30px;
}

.user-navigation-item a {
  padding: 36px 30px 30px 25px;
  color: var(--basic-black);
  display: block;
}

.user-navigation-item:nth-child(2) a:nth-child(1):before {
  content: '';
  position: absolute;
  top: 39px;
  left: 0;
  width: 13px;
  height: 14px;
  background-image: url('../img/img/Header/icon_user.svg');
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(3) a:before {
  content: '';
  position: absolute;
  top: 39px;
  left: 0;
  width: 13px;
  height: 14px;
  background-image: url('../img/img/Header/icon_chart.svg');
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(4) a:before {
  content: '';
  position: absolute;
  top: 41px;
  left: 4px;
  width: 13px;
  height: 14px;
  background-image: url('../img/img/Header/icon_cart.svg');
  background-repeat: no-repeat;
}

.user-navigation-item a:hover {
  opacity: 0.7;
}

.user-navigation-item a:focus {
  opacity: 0.5;
  outline: none;
}

.inner-page .user-navigation-item-link {
  padding-right: 0;
  margin-left: -2px;
}

.inner-page .user-navigation-item-link:nth-child(2) {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0px 0;
  position: relative;
}

.site-navigation,
.site-navigation .sub-menu {
  list-style: none;
  padding: 0;
}

.site-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 24px 11px 30px 24px;
}

.site-navigation-item {
  position: relative;
}

.site-navigation-item:last-child a {
  padding-right: 24px;
}

.site-navigation-item:nth-child(1) {
  margin-right: 286px;
  margin-left: 8px;
}

.site-navigation-item:last-of-type {
  margin-left: 70px;
}

.site-navigation-item:nth-child(1):before {
  content: '';
  position: absolute;
  top: 3px;
  right: -21px;
  width: 15.4px;
  height: 15.4px;
  background-image: url('../img/img/Header/icon_plus.svg');
  background-repeat: no-repeat;
}

.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 0.6;
  outline: none;
}

.site-navigation a:active {
  opacity: 0.3;
}

.item-catalog {
  position: relative;
}

.sub-menu-wrapper {
  display: none;
}

.sub-menu-wrapper {
  position: absolute;
  top: 22px;
  left: -38px;
  z-index: 2;
  display: none;
  width: 1160px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 63px;
  background-color: var(--special-yellow-light);
}

.button-sub-menu:hover + .sub-menu-wrapper {
  display: block;
}

.button-sub-menu:focus + .sub-menu-wrapper,
.button-sub-menu:active + .sub-menu-wrapper {
  display: block;
}

.sub-menu-wrapper:hover {
  display: block;
}

.sub-menu-wrapper:active,
.sub-menu-wrapper:focus {
  display: block;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 128px;
  width: 531px;
}

.sub-menu-item a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.sub-menu a {
  padding: 0;
  text-transform: none;
}

.sub-menu-item {
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}

.sub-menu-item:first-child {
  margin-right: 61px;
}

.sub-menu-item:last-child {
  height: 40px;
  margin-left: 61px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 0 50px 30px;
}

.breadcrumb-item a {
  color: var(--basic-black);
  opacity: 0.3;
  padding: 0 17px 0 0;
}

.breadcrumb-item:first-child a {
  padding-left: 33px;
}

.breadcrumb-item {
  position: relative;
  margin-right: 17px;
}

.breadcrumb-item:not(:last-child):before {
  content: '';
  position: absolute;
  top: 9px;
  right: 0;
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--basic-black);
  border-right: 1px solid var(--basic-black);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.breadcrumb-item:last-child a {
  padding-right: 0;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
  outline: none;
}

/* Sidebar */

.sidebar-title-wrap {
  position: relative;
  background-color: var(--basic-grey-medium);
  height: 70px;
  padding: 22px 0 20px 60px;
}

.sidebar-title-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: 328px;
  width: 100vw;
  height: 70px;
  background-color: var(--basic-grey-medium);
}

.sidebar-title-wrap span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.sidebar {
  position: relative;
  background-color: var(--basic-grey-extra);
  height: 100%;
}

.sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: var(--basic-grey-extra);
}

.sidebar-form input {
  margin-left: 60px;
}

/* Filter card wrapper */

.filter {
  width: 270px;
  padding-top: 69px;
  padding-right: 68px;
  padding-left: 60px;
}

.filter-item-wrap {
  position: relative;
}

.filter-item-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  width: 201px;
  height: 2px;
  background-color: var(--basic-black);
}

.filter-item {
  width: 202px;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-item legend {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 32px;
}

.filter-item-price legend {
  padding-bottom: 40px;
}

.filter-range {
  display: flex;
  flex-direction: column;
  padding-bottom: 37px;
}

.filter-range-price {
  margin-top: 8px;
}

.filter-range-controls {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.filter-range-scale {
  height: 2px;
  background-color: var(--basic-black-opacity-lighten);
}

.filter-range-bar {
  width: 60%;
  height: 2px;
  background-color: var(--special-green);
}

.filter-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--basic-grey-range);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--basic-black-opacity-lighten);
  cursor: pointer;
}

.filter-range-toggle-min {
  top: -10px;
  left: -4px;
}

.filter-range-toggle-max {
  top: -10px;
  left: 109px;
}

.filter-range-label {
  font-size: 14px;
  line-height: 16px;
}

.filter-range-label-min {
  margin-right: 28px;
}

.filter-range-input {
  width: 50px;
  margin: 0;
  padding: 0;
  background: 0 0;
  border: 0;
}

.filter-checkbox-list {
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  list-style-type: none;
}

.filter-checkbox-item {
  padding-left: 44px;
}

.filter-checkbox-item:not(:last-child) {
  margin-bottom: 19px;
}

.filter-checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.01em;
  cursor: pointer;
  user-select: none;
}

.filter-checkbox-label:hover::before {
  opacity: 0.5;
}

.filter-checkbox-input:disabled + .filter-checkbox-label {
  opacity: 0.25;
}

.filter-checkbox-input:focus + .filter-checkbox-label::before {
  opacity: 0.5;
}

.filter-checkbox-input + .filter-checkbox-label::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -41px;
  background-image: url('../img/img/checkbox-on.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.filter-checkbox-input:checked + .filter-checkbox-label::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -41px;
  width: 24px;
  height: 24px;
  background-image: url('../img/img/checkbox.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-radio-label {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  user-select: none;
}

.filter-radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-radio-item {
  padding-left: 43px;
}

.filter-radio-item:not(:last-child) {
  margin-bottom: 21px;
}

.filter-radio-label:hover::before,
.filter-radio-label:hover::after {
  opacity: 0.5;
}

.filter-radio-input:focus + .filter-radio-label::before,
.filter-radio-input:focus + .filter-radio-label::after {
  opacity: 0.5;
}


.filter-radio-input + .filter-radio-label::before {
  content: '';
  position: absolute;
  left: -40px;
  top: -3px;
  width: 24px;
  height: 24px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.filter-radio-input:disabled + .filter-radio-label{
	opacity: 0.25;
  }

.filter-radio-input:checked + .filter-radio-label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -32px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.button-form {
  position: relative;
  width: 194px;
  margin-top: 41px;
  margin-left: 2px;
  padding: 10px 40px;
  transition: all 0.25s ease-in-out;
  background: 0 0;
  border: 0;
  z-index: 1;
  cursor: pointer;
  outline: none;
}

.button-form::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
  transition: height 0.5s;
}

.button-form:hover::after {
  height: 40px;
}

.button-form:focus::after {
  height: 40px;
}

.button-form:active {
  opacity: 0.3;
}

/*  */

.inner-page .page-content {
  display: grid;
  grid-template-columns: 328px 1fr;
  align-content: start;
}

.inner-page .page-content-title {
  grid-column: 1 / -1;
  margin-top: 44px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.inner-page .breadcrumbs {
  grid-column: 1 / -1;
}

/* Product-sorting */

.promo-product {
  position: relative;
}

.promo-product-slider-button {
  position: absolute;
  right: 100px;
  top: 349px;
  z-index: 5;
  right: 105px;
  bottom: 253px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 72px;
}

.promo-product-slider-button .slider-button {
  position: relative;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid var(--basic-dark);
  border-radius: 50%;
  cursor: pointer;
}

.current-slider::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-dark);
  border-radius: 50%;
  top: 1px;
  left: 1px;
}

/* Catalog */

.catalog {
  padding-bottom: 78px;
}

.goods-sorting {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-grey-extra);
  height: 70px;
  padding-left: 72px;
}

.goods-sorting::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: var(--basic-grey-extra);
}

.goods-sorting span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.goods-sorting ul {
  list-style: none;
  padding: 0;
}

.goods-sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 74px;
}

.goods-sorting-list li:not(:last-child) {
  margin-right: 30px;
}

.goods-sorting-list a {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.goods-sorting-list a:hover {
  opacity: 0.6;
}

.goods-sorting-list a:focus {
  opacity: 1;
  outline: none;
}

.goods-sorting-item-active a {
  opacity: 1;
}

.goods-sorting-arrow {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.goods-sorting-arrow a:focus {
  outline: none;
}

.goods-sorting-arrow-item a {
  opacity: 0.2;
}

.goods-sorting-arrow a:hover {
  opacity: 0.4;
}

.goods-sorting-arrow a:active,
.goods-sorting-arrow a:focus {
  opacity: 1;
}

.goods-sorting-arrow-item:last-child {
  margin-left: 26px;
}

.goods-sorting-active a {
  opacity: 1;
}

/* Product cards */

.goods-card {
  position: relative;
  min-height: 455px;
}

.card-button-wrapper {
  display: none;
}

.goods-card:hover .card-button-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 163px;
  left: 79px;
}

.goods-card:hover .goods-card-image {
  opacity: 0.7;
}

.goods-cards-wrapper {
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 72px;
}

.goods-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 46px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-card-title {
  margin-top: 25px;
  margin-bottom: 0;
}

.goods-card-title a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  display: flex;
  justify-content: space-between;
}

.goods-card-title-text {
  display: block;
}

.goods-card-image {
  margin: 0;
}

.goods-card img {
  width: 100%;
}

.goods-card-new {
}

.goods-card-new {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.3;
  display: none;
  position: absolute;
  top: 29px;
  right: 27px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.goods-card-new-current {
  display: block;
}

.basket-button {
  position: relative;
  width: 200px;
  transition: all 0.25s ease-in-out;
  background: 0 0;
  border: 0;
  z-index: 2;
  margin-bottom: 20px;
}

.basket-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
  transition: height 0.5s;
}

.basket-button:hover::after {
  height: 40px;
}

.basket-button:focus {
  opacity: 0.3;
  outline: none;
}

.goods-card-add-favorites {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  opacity: 0.5;
}

.goods-card-add-favorites:hover {
  opacity: 1;
}

.goods-card-add-favorites:focus {
  opacity: 0.2;
  outline: none;
}

.goods-card-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-top: 2px;
  white-space: nowrap;
}

.pagination-wrapper {
  margin-left: 72px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--basic-grey-light);
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-number {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-number a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
  padding: 24px 15px;
}

.pagination-number.active a {
  opacity: 1;
}

.pagination-prev,
.pagination-next {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-prev:active,
.pagination-next:active {
  opacity: 0.3;
}

.pagination-control a {
  display: block;
  width: 134px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
}

.pagination-control:last-child a {
  padding-left: 40px;
}

.pagination-control:hover {
  background-color: var(--basic-black-opacity-lighten);
}

.pagination-number a:hover {
  opacity: 0.6;
}

.pagination-number a:focus {
  opacity: 1;
  outline: none;
}

/* Page content */

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  position: relative;
}

.page-content-wrapper::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 43px;
  z-index: -1;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: var(--basic-white);
}

.page-content-wrapper-slider-1::after {
  content: '01';
}

.page-content-wrapper-slider-2::after {
  content: '02';
}

.page-content-wrapper-slider-3::after {
  content: '03';
}

.page-content-wrapper::before {
  content: '';
  position: absolute;
  top: 42px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.page-content-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0 0 26px 0;
}

.page-content th {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left;
}

.page-content td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.page-content-description {
  margin: 0 0 51px 0;
  width: 483px;
}

.page-content-wrapper table {
  order: 2;
  margin-top: 49px;
}

.promo-product-button {
  position: relative;
  width: 220px;
  margin-left: 2px;
  padding: 10px 40px;
  transition: all 0.25s ease-in-out;
  background: 0 0;
  border: 0;
  outline: none;
}

.promo-product-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
  transition: height 0.5s;
}

.promo-product-button:hover::after {
  height: 40px;
}

.promo-product-button:focus::after,
.promo-product-button:active::after {
  outline: none;
  height: 40px;
}

.promo-product-button {
  order: 1;
}

.promo-product-button:active {
  opacity: 0.3;
}

.promo-product-item {
  display: none;
}

.slide-current {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: -137px;
  z-index: 1;
}

.promo-product-item img {
  justify-self: center;
  margin-top: 10px;
}

/* Category */

.category {
  margin-top: 116px;
  padding-top: 20;
  padding-bottom: 46px;
}

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.category-list-item {
  width: 160px;
  height: 300px;
  position: relative;
}
.category-list-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  position: absolute;
  top: 199px;
  width: 200px;
}

.category-list-item a:after {
  content: '';
  background-color: var(--special-yellow-light);
  width: 160px;
  height: 160px;
  position: absolute;
  left: 0;
  top: -196px;
}

.category-list-item a:hover:after {
  background-color: var(--special-yellow-dark);
}

.category-list-item a:before {
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: 10;
}

.category-list-item:nth-child(1) a:before {
  content: '';
  background-image: url('../img/img/Catalog/Group.png');
  background-repeat: no-repeat;
  top: -144px;
  left: 34px;
}

.category-list-item:nth-child(2) a:before {
  content: '';
  background-image: url('../img/img/Catalog/Group-1.png');
  background-repeat: no-repeat;
  top: -172px;
  left: 37px;
}

.category-list-item:nth-child(3) a:before {
  content: '';
  background-image: url('../img/img/Catalog/Group-2.png');
  background-repeat: no-repeat;
  top: -161px;
  left: 48px;
}

.category-list-item:nth-child(4) a:before {
  content: '';
  background-image: url('../img/img/Catalog/Group-3.png');
  background-repeat: no-repeat;
  top: -149px;
  left: 29px;
}

.category-list-item:nth-child(5) a:before {
  content: '';
  background-image: url('../img/img/Catalog/Group-4.png');
  background-repeat: no-repeat;
  top: -167px;
  left: 52px;
}

.category-list-item:nth-child(6) a:before {
  content: '';
  background-image: url('../img/img/Catalog/Group-5.png');
  background-repeat: no-repeat;
  top: -152px;
  left: 16px;
}

.category-list-item a:active,
.category-list-item a:focus {
  outline: none;
  opacity: 0.3;
}

/* Features */

.features {
  margin-top: 80px;
  padding-bottom: 103px;
  background-color: var(--basic-grey-extra);
}

.features-bar {
  position: relative;
  top: -30px;
  display: grid;
  grid-template-columns: 280px 1fr;
}

.features h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.features p {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 43px 0 0 0;
}

.features-button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 160px;
  margin-left: 2px;
  transition: all 0.25s ease-in-out;
  background: 0 0;
  border: 0;
  z-index: 1;
}

.features-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: inherit;
  height: 8px;
  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
  transition: height 0.5s;
}

.features-button:hover::after {
  height: 40px;
}

.features-button:focus,
.features-button:active {
  color: var(--special-yellow-light);
}

.features-button:focus::after,
.features-button:active::after {
  background-color: var(--basic-black);
  height: 40px;
  width: 280px;
  transition: width 0.5s;
}

.current-control {
  color: var(--special-yellow-light);
}

.current-control:after {
  background-color: var(--basic-black);
  height: 40px;
  width: 280px;
}

.features-controls-list {
  position: relative;
  margin: 0;
  padding: 21px 0 0 0;
  list-style: none;
}

.features-controls-list::before {
  content: '';
  position: absolute;
  top: -71px;
  right: -4px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.features-controls-list-item {
  line-height: 22px;
  letter-spacing: 0.2em;
}

.features-controls-list-item:not(:last-child) {
  margin-bottom: 39px;
}

.features-slides-display {
  position: relative;
  margin: 0 0 0 123px;
  padding: 0;
  list-style: none;
}

.features-slides-display-item {
  display: none;
}

.current-display {
  display: block;
  padding-right: 263px;
}

.features-slides-display-item-1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('../img/img/delivery.png');
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
}

.features-slides-display-item-2::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  background-image: url('../img/img/warranty.png');
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
}

.features-slides-display-item-3::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  background-image: url('../img/img/credit.png');
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
}

/* Partners */

.partners {
  padding: 90px 0;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-list li {
  justify-self: center;
}

.partners-list-item img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.partners-list-item img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
  opacity: 1;
}

/* Index column */

.index-column {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-bottom: 86px;
  padding-top: 50px;
}

.index-column ul {
  list-style: none;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin: 59px 0 0 0;
  padding: 0;
}

.index-column h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 44px;
}

.index-column p {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
}

.index-column p:nth-of-type(1) {
  margin-bottom: 40px;
}

.index-button {
  margin-top: auto;
  text-align: left;
  position: relative;
  text-align: center;
  width: 260px;
  transition: all 0.25s ease-in-out;
  background: 0 0;
  border: 0;
  outline: none;
}

.index-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -2px;
  z-index: -1;
  width: inherit;
  height: 8px;
  background-color: var(--special-yellow-dark);
  transform: translateY(-50%);
  transition: height 0.5s;
}

.index-button:hover::after {
  height: 40px;
}

.index-button:focus::after {
  height: 40px;
}

.index-button:active {
  opacity: 0.3;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us p {
  width: 475px;
}

.about-us::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 25px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 500px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us li {
  padding-left: 34px;
  position: relative;
}

.about-us li:not(:last-child) {
  margin-bottom: 16px;
}

.about-us li::before {
  content: '';
  position: absolute;
  background-image: url('../img/img/ellipse.svg');
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  top: 10px;
  left: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts img {
  margin-bottom: 85px;
}

/* Footer */

.page-footer {
  padding: 23px 0 65px;
  background-color: var(--basic-dark);
}

.page-footer .container {
  position: relative;
}

.footer-logo {
  text-align: right;
  margin-top: -54px;
}

.page-footer .container:after {
  content: '';
  position: absolute;
  background-color: var(--special-yellow);
  width: 80px;
  height: 7px;
  bottom: 18px;
  left: 22px;
}

.footer-navigation a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: -28px;
}

.footer-user-item a {
  position: relative;
  display: block;
  padding: 23px 20px;
  opacity: 0.7;
}

.inner-page .footer-user-item-link {
  padding-left: 12px;
  padding-right: 14px;
}

.footer-user-item.user-sign-footer {
  display: flex;
}

.footer-user-item:not(:last-child) {
  margin-right: 25px;
}

.footer-user-item:nth-child(1) a:nth-child(1):before {
  content: '';
  position: absolute;
  background-image: url('../img/img/Footer/icon_user-footer.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 14px;
  top: 25px;
  left: -2px;
}

.user-sign-footer:nth-child(1) .footer-user-item-link:nth-child(1)::before {
  top: 26px;
  left: -13px;
}

.footer-user-item:nth-child(2) a:before {
  content: '';
  position: absolute;
  background-image: url('../img/img/Footer/icon_chart-footer.svg');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 26px;
  left: 0;
}

.footer-user-item:nth-child(3) a:before {
  content: '';
  position: absolute;
  background-image: url('../img/img/Footer/icon_cart-footer.svg');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 28px;
  left: 0;
}

.footer-user-item:last-child a {
  padding-right: 0;
}

.footer-user-item a:hover {
  opacity: 1;
}

.footer-user-item a:focus {
  opacity: 0.3;
  outline: none;
}

.footer-logo:hover {
  opacity: 0.6;
  transition: all 0.2s linear;
  cursor: pointer;
}

.footer-logo:active,
.footer-logo:focus {
  opacity: 0.3;
}

.footer-center-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  margin-top: 40px;
}

.footer-navigation {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  margin: 0 0 0 -30px;
  padding: 0;
  list-style: none;
}

.footer-navigation a:hover {
  opacity: 0.6;
}

.footer-navigation a:focus {
  opacity: 0.3;
  outline: none;
}

.button.footer-button {
  color: var(--basic-white);
}

.footer-navigation li:not(:last-child) {
  margin-right: 34px;
}

.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  margin-top: 67px;
  padding: 0;
}

.footer-social li:not(:last-child) {
  margin-right: 20px;
}

.footer-social-item a {
  opacity: 0.7;
  outline: none;
}

.footer-social-item a:hover {
  opacity: 1;
}

.footer-social-item a:focus {
  opacity: 0.3;
}

.footer-user-navigation a {
  color: var(--basic-white);
  opacity: 0.7;
}
.footer-user-navigation a:hover {
  color: var(--basic-white);
}

.footer-user-navigation a:focus {
  opacity: 0.3;
  outline: none;
}

.footer-address {
  font-style: normal;
  color: var(--basic-white);
}

.footer-phone {
  color: var(--basic-white);
  justify-self: end;
}

.social-button {
  color: var(--basic-white);
}

/* POP UP */

.popup-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 960px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px var(--basic-black-opacity-lighten);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.popup-write-us-active {
  display: block;
}

.popup-write-us-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.popup-write-us-wrap {
  position: relative;
  display: flex;
  padding-top: 93px;
  padding-right: 100px;
  padding-bottom: 76px;
  padding-left: 100px;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.popup-input-wrap {
  display: flex;
  flex-direction: column;
}

.popup-input-wrap-name {
  padding-right: 40px;
  padding-bottom: 34px;
}

.popup-write-us label {
  width: 360px;
  padding-bottom: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: var(--basic-black);
  cursor: pointer;
}

.popup-input-wrap-message {
  padding-bottom: 20px;
}

.popup-input-wrap-message label {
  padding-bottom: 8px;
}

.popup-write-us input {
  width: 360px;
  height: 50px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: var(--basic-dark);
  background-color: var(--special-pop-up-input);
  border: 0;
  outline: 0;
}

.popup-write-us input:hover {
  background-color: var(--special-pop-up-input-hover);
}

.popup-write-us input:focus {
  background-color: var(--basic-white);
  border: 3px solid var(--special-yellow-light);
}

.popup-write-us input:invalid {
  background-color: var(--special-invalid);
}

.popup-write-us input::-webkit-input-placeholder {
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us input:-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us input::-ms-input-placeholder {
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us input::placeholder {
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-dark);
  background-color: var(--special-pop-up-input);
  border: 0;
  outline: 0;
  resize: none;
}

.popup-form .button {
  margin-top: 18px;
}

.popup-write-us textarea:hover {
  background-color: var(--special-pop-up-input-hover);
}

.popup-write-us textarea:focus {
  background-color: var(--basic-white);
  border: 3px solid var(--special-yellow-light);
}

.popup-write-us textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: var(--basic-black);
  opacity: 0.4;
}

.popup-write-us .button {
  width: 210px;
  background: 0 0;
  border: 0;
}

.popup-write-us-close,
.popup-map-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.popup-write-us-close::before,
.popup-map-close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: var(--basic-white);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-write-us-close::after,
.popup-map-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: var(--basic-white);
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us-close:hover,
.popup-map-close:hover {
  opacity: 1;
  transition: all 0.2s linear;
}

.popup-write-us-close:active,
.popup-map-close:active {
  opacity: 0.3;
}

.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 960px;
  height: 560px;
  background-color: var(--basic-white);
  box-shadow: 0 10px 20px var(--basic-black-opacity-lighten);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.popup-map-active {
  display: block;
}

.popup-map-wrap {
  position: relative;
}

.popup-map-wrap iframe {
  width: 960px;
  height: 560px;
  border: 0;
}
